.navbar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1000;
    padding: 0.75rem 0;
    align-items: center;
}

/* BASE STYLES — applies to ALL screens (mobile first) */
.grid {
    display: block;
    /* single column on mobile */
}

.card {
    font-size: 18px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;

}

@media (min-width: 375px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

/* TABLET — screens 600px and above */
@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* 2 columns */
        gap: 1.5rem;
    }
}

/* DESKTOP — screens 900px and above */
@media (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        /* 3 columns */
    }

    .navbar {
        position: fixed;
        top: 0;
        bottom: auto;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 14px;
    }

}

/* pricing-table is the FLEX CONTAINER */
.pricing-table {
    display: flex;
    gap: 1.5rem;
    align-items: stretch;
    /* make all cards same height */
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* Each .plan is a FLEX ITEM */
.plan {
    flex: 1 1 280px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;

}

/* Push the button to the bottom of each card */
.btn {
    margin-top: auto;

}

/* Highlighted middle plan */
.plan.featured {
    /* TODO: different background, scale up with transform: scale(1.05) */
    position: relative;
    background: rgb(70, 109, 228);
    border: 1.5px solid #576cf3;
    transform: scale(1.05);
}

.badge {
    position: absolute;
    top: -12px;
    bottom: -12px;
    background-color: #238e63;
    color: aliceblue;
    padding: 2px 0.75rem;
    border-radius: 9px;
    box-shadow: 0 2px 4px #5f72e9;
    height: 20px;

}